.back {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #0e7494;
    border: 3px solid #062c25;
    border-radius: 10px;
    margin: 80px auto;
    width: 450px;
    height: 300px;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1097c2;
    border: 3px solid #062c25;
    border-radius: 10px;
    margin: 4% auto;
    width: 400px;
    height: 170px;
    font-size: 80px;
    font-weight: bold;
}

.maxValue {
    color: red;
}

.errorName {
    font-size: 20px;
}

.errorSettings {
    color: red;
    font-size: 45px;
}

.fon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1097c2;
    border: 3px solid #062c25;
    border-radius: 10px;
    margin: auto;
    width: 400px;
    height: 60px;
}
