.navbar {
    display: flex;
    margin-bottom: 200px;
    font-family: "Lucida Sans Typewriter";
    align-items: center;
    justify-content: center;
    background-color: #0e7494;
    width: 100%;
    height: 50px;
}

.item {
    margin-right: 100px;
}

.route {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
}

.route:hover {
    color: navajowhite;
}

.route:focus {
    color: navajowhite;
}
